@import 'settings';
@import 'variables';
@import 'function';

body{
    overflow: hidden;
}

section{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, $color-primary, $color-secondary);

        &::before{
            content:'';
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            z-index: 10;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(em(10));
        }
    
    .color{
        position: absolute;
        filter: blur(em(150));
    }

    .color:nth-child(1){
        top: em(-350);
        background: $color-child-one;
        width: em(600);
        height: em(600);
    }

    .color:nth-child(2){
        bottom: em(-150);
        left: em(100);
        background: $color-child-two;
        width: em(500);
        height: em(500);
    }

    .color:nth-child(3){
        bottom: em(-50);
        right: 0;
        background: $color-child-three;
        width: em(300);
        height: em(300);
    }
}

ul{
    position: relative;
    display: flex;
    padding-left: 0;

    li{
        position: relative;
        list-style: none;
        margin: em(10);
        

        a{
            position: relative;
            top: 0;
            width: em(80,32);
            height: em(80,32);
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            color: $color-icons;
            font-size: em(32);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: em(10,32);
            background:rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(em(4,32));
            z-index: 1;
            box-shadow: 0 em(3,32) em(45,32) rgba(0, 0, 0,0.1);
            overflow: hidden;
            transition: top 0.5s, z-index 0s, transform 0.5s;
            transition-delay: 2s, 1s, 0;

            @media (max-width:600px){
                font-size: em(16);
            }

            &:hover{
                transition-delay: 0, 1s, 2s;
                top: em(-25,32);
                
                z-index: 11;
                
            }

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: em(50,32);
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                transform: skewX(45deg)translate(150px);
                transition: .5s;
            }

            &:hover:before{
                transform: skewX(45deg)translate(em(-150,32));

            }
        }
    }
}

